[2013-08-26 19:02] justincampbell opened #1 "Installation failed"
I tried installing via the README's instructions, but it didn't work:

[code]

[2013-08-26 19:12] cyberdelia opened #2 "Doesn't accept empty lines in .env"
Forego panic when an empty line (or more) is present in the `.env` file.

[code]

[2013-08-29 22:05] #2 closed, assigned to nobody

[2013-08-30 00:29] kr opened #3 "master doesn't compile with go get"
[code]

Looks like Process needs to define a Start method, or maybe embed the exec.Cmd.

[2013-08-30 01:03] #1 closed, assigned to nobody

[2013-08-30 01:10] #3 closed, assigned to nobody

[2013-08-30 23:41] joho opened #5 "Use dedicated dotenv library?"
Hi @ddollar,

I've got a go dotenv port at https://github.com/joho/godotenv which might be worth integrating to make forego and foreman closer to 100% compatible. I'd ported all the tests from the ruby dotenv library to ensure compatibility.

I'm happy to do a pull request if you want to use the library, just thought it'd be polite to ask first incase you wanted to do the .env handling yourself.

[2013-09-01 04:39] silas opened #6 "Download link permissions"
Links in `README.md` return a 403.

[code]

[2013-09-01 13:58] #6 closed, assigned to nobody

[2013-09-04 02:02] #5 closed, assigned to nobody

[2013-09-09 02:58] lachie opened #7 "Binary build script/app appears to be broken"
Hey
excited to try forego, but the binaries aren't built:

[code]

[2013-09-09 03:01] #7 closed, assigned to nobody

[2013-09-10 20:55] sclasen opened #8 "doesnt work with correctly with repl type apps"
perhaps it has to do with runinng with repls

running sbt with forego exits immediately

[code]

In comparison, foreman works properly...

[code]

Same behavior for irb

[code]

[2013-09-10 21:00] #8 closed, assigned to nobody

[2013-09-11 03:40] sclasen opened #9 "doesnt work quite right with tab completion/history/readline"
Actualy #8 doesnt totally work :(

maybe some sort of readline based issues...here is an example with sbt, basically tab completion and other things dont work, also when I quit out of a program where tab completion or other stuff went bad, my shell is hosed.
`foreman run sbt, type c and hit tab`

[code]

`forego run sbt, type c and hit tab`

[code]

the cursor just tabs over a tabwidth above...

A

[2013-09-14 12:23] #9 closed, assigned to nobody

[2013-09-14 22:59] sclasen opened #10 "panic: runtime error: index out of range"
@ddollar this is with api procfile

[code]

[2013-09-17 20:49] #10 closed, assigned to nobody

[2013-09-17 23:23] luislavena opened #11 "Comments in Procfile cause errors"
Taking the following Procfile:

[code]

Foreman says:

[code]

And starts properly, but forego, no go:

[code]

`go version go1.1.2 darwin/amd64`

Removing the comment fixes the issue.

Thank you! :heart: :heart: :heart:

[2013-09-17 23:39] #11 closed, assigned to nobody

[2013-11-12 15:18] dorianj opened #13 "-e doesn't support multiple env files"
I use something like this fairly often: `foreman run -e .env,.env-prod ...`; forego doesn't seem to support comma-separated -e lists.

I think this is highly desirable behavior; I'll happily submit a pull if you agree.

[2013-11-13 20:03] bjeanes opened #14 "Ruby version changing in `forego run` when using `chruby`"
I'm using `chruby` to manage my ruby versions. When running `forego run <some ruby command>` it seems to be using my default ruby, not my current ruby:

[code]

As you can see, this behavior differs from `foreman` and is of course unexpected. `chruby` works my modifying the `PATH` variable. As you can see the `PATH` includes 1.9.3 ruby prior to invocation but during invocation it's pointing to 2.0

[2013-11-15 01:08] #14 closed, assigned to nobody

[2014-01-03 17:38] rgl opened #16 "Line split"
Some lines are split:

[code]

It should not have split the above line in two.

[2014-01-03 17:59] rgl opened #17 "After pressing Ctrl+C the console color is not restored"
See the attached file:

![image](https://f.cloud.github.com/assets/43356/1841222/85ceb876-74a0-11e3-885a-bbcc9e7360d6.png)

The normal shell color is gray, not blue.

[2014-01-10 12:45] sebholstein opened #18 "Add concurrency support"
forego start has no -c option

[2014-03-10 18:49] resure opened #20 "Export feature"
`foreman export` is pretty useful for production deployment: developer can just add this command after "deploy:publishing" (or something like that). Are there any plans on supporting that functionality in forego?

[2014-03-10 18:58] #20 closed, assigned to nobody

[2014-06-02 18:14] #16 closed, assigned to nobody

[2014-06-13 14:55] pbitty opened #31 "Cannot download Windows binaries"
Hello, I am trying to download the Windows binaries and I am getting a blank page when I click on either of the links ([32bit](https://godist.herokuapp.com/projects/ddollar/forego/releases/current/windows-386/forego.exe) and [64bit](https://godist.herokuapp.com/projects/ddollar/forego/releases/current/windows-amd64/forego.exe)).

Chrome's network trace shows a 200 status code with a blank response

[2014-06-19 21:01] #31 closed, assigned to nobody

[2014-06-19 22:58] #18 closed, assigned to nobody

[2014-07-03 15:58] joeyespo opened #32 "Allow local config with .forego"
I'm currently using Foreman's `.foreman` file to override the default port without having to run the command differently.

It'd be great to have forego allow the same thing. Either by reading `.forman` or reading from a new `.forego` file.

[2014-07-26 23:01] joeyespo opened #34 "Environment variables are not expanded on Windows"
Executing the following doesn't expand the variables like it does with foreman.

#### Procfile

[code]

#### .env
[code]

[2014-09-18 14:41] nikolay opened #36 "Use GitHub Releases for binaries"
... instead of Heroku.

[2014-09-18 14:47] #36 closed, assigned to nobody

[2014-09-18 16:21] jdx opened #38 "homebrew doesn't show correct version number"
this was a known issue when doing the forego stuff, we don't get the version number in `forego version`. Any ideas on a quick way to resolve this?

![screen shot 2014-09-18 at 9 20 17 am](https://cloud.githubusercontent.com/assets/216188/4323380/ce09be72-3f4f-11e4-9eb3-b0b8a86e1291.png)

[2014-09-18 16:41] #38 closed, assigned to nobody

[2014-09-22 20:13] #17 closed, assigned to nobody

[2014-10-10 04:06] bgentry opened #40 "godist install link busted"
The install link for OSX seems broken: https://godist.herokuapp.com/projects/ddollar/forego/releases/current/darwin-amd64/forego

Maybe godist is shot?

[2014-10-10 05:26] #40 closed, assigned to nobody

[2014-12-05 15:41] kmdoherty opened #43 "forego start on Windows 7: cannot override default port"
Hello,

I'm posting this as an issue because I don't see another way to ask a question.

I have looked at the Usage section of the README and also at the source code, and have tried adding '-p %PORT%' to the Procfile (%% because it's Windows) and '-p %PORT%' to 'forego start' and neither seems to work. I always end up with port 5000.

'forego version' tells me I am using version 0.10.0

Any guidan

[2014-12-05 16:18] #43 closed, assigned to nobody

[2014-12-19 23:12] joeyespo opened #44 "Default port behavior differs from Foreman"
I was trying to use alternatives to Foreman, since it was a little buggy with file handling, and I noticed some differences.

I set up [this gist](https://gist.github.com/joeyespo/9e8a47f526c27e6abbab) after writing one [for Honch](https://gist.github.com/joeyespo/3c210b2b6504531bc230) to test and demonstrate the differences:

- Foreman's port precedence is `-p option`, `.env file`, `PORT variable

[2014-12-22 22:33] moul opened #47 "ARM builds"
Hi,
Can you add ARM builds ?

linux-armel: GOOS=linux GOARCH=arm GOARM=5
linux-armhf: GOOS=linux GOARCH=arm GOARM=6

Thank you

[2015-01-02 01:58] ddollar commented on #44
Looks like you're right. Would you be interested in trying to put together a pull request to correct this?

[2015-01-02 01:58] ddollar commented on #47
You can find some ARM builds here:

http://gobuild.io/github.com/ddollar/forego

[2015-01-02 01:58] #47 closed

[2015-01-02 02:15] #13 closed

[2015-01-02 02:16] ddollar commented on #44
Actually looks like this is covered by #45

[2015-01-02 02:16] #44 closed

[2015-01-02 02:17] ddollar commented on #34
I don't have a Windows machine handy for testing this. Would you be interested in submitting a patch?

[2015-01-02 04:18] joeyespo commented on #44
Nice!

[2015-01-02 04:42] joeyespo commented on #44
Ok, just tested it with the latest build.

#45 did fix the .env problem, but the order is still wrong:

- Foreman's port precedence is `-p option`, `.env file`, `PORT variable`, `default of 5000`
- Forego's port precedence is `PORT variable`, `-p option`, `.env file`, `default of 5000`

Put another way, if `PORT` just so happens to be in your ENV for another reason, you can't override it using `.e

[2015-01-02 13:36] nhocki commented on #44
@joeyespo I just tested this and the order seems to be:

1. `-p` flag
2. `PORT` variable in the `.env` file
3. Default `5000` port.

Here's what I have:

.env

[code]

Procfile
[code]

test.rb

[code]

----

Running:

1: `forego start -p 4000`

[code]

2. `forego start`

[code]

3. (After removing the `.env` file) `forego start`

[code]

---

The thing that seems to be missing in #45 is to read di

[2015-01-02 14:07] ddollar commented on #44
The precedence that makes the most sense to me is:

* `-p` option
* `PORT` environment variable
* `PORT` in `.env`
* 5000

I'd accept pull requests to both foreman and forego to match up with this if anyone is feeling up to it.

[2015-01-02 14:11] nhocki commented on #44
I can add that, after @sergiobuj PR, only the `PORT` environment variable is missing.

[2015-01-02 15:10] moul commented on #47
Thank you !

[2015-01-16 09:59] bartmeuris opened #49 "Env file not loaded when specified full-path"
On Linux, using version 0.15.0, when you specify the full-path to the environment file to load, it fails. When specifying a relative path, it works:

ProcFile.test:
[code]

testenv:
[code]

Starting with these files normally just works:

[code]

When Specifying full-path for the env file, the environment variables are not loaded:
[code]

This used to work correctly in 0.13.1

[2015-01-30 22:02] ddollar commented on #49
Does ${PWD} contain a space?

[2015-01-31 19:21] bartmeuris commented on #49
No it does not - the example above was in tested in `/home/vagrant`

[2015-02-11 01:58] kjk opened #51 "Only first line of output is printed"
This might be by design, but when app logs multiple lines, forego only prints the first one, probably because of buffer.Reset() in LineReader http://gotools.org/github.com/ddollar/forego#OutletFactory.LineReader

This is problematic e.g. for panics, because important information is not shown.

[2015-02-13 17:18] ngrilly commented on #51
Same problem here. I remember that the first versions of forego didn't have this issue.

[2015-02-17 03:16] #51 closed

[2015-02-21 07:42] kytwb commented on #17
Related to jwilder/nginx-proxy/issues/104?

[2015-03-14 11:44] djmaze commented on #47
gobuild.io seems to be down?

[2015-03-19 16:27] tehbilly commented on #49
Question, what platform are you trying this on? I wasn't able to duplicate this on my Arch box or my Windows machine.

That's not entirely true, I was able to replicate it on Windows inside of cygwin, but nowhere else.

[2015-03-19 16:55] bartmeuris commented on #49
I tested this in Ubuntu 14.04 in Vagrant (and in an Ubuntu 14.04 Docker container where I first encountered the problem, and was able to replicate it in a VM). Note that I also tried typing out the complete path (so it's not the ${PWD} substitution)

[2015-03-20 14:37] techtonik opened #54 "Docs"
http://blog.daviddollar.org/2011/05/06/introducing-foreman.html

This one is awesome. I wonder if there is a chapter 2 of evolution of foreman/forego.

[2015-03-25 19:33] ryansouza commented on #32
Likely the hardest part is going to be finding a yaml parser.

- https://github.com/go-yaml/yaml looks nice but I don't think LGPL is compatible with forego's Apache 2 licsense.
- https://code.google.com/p/goyaml/ has no examples on how to use it, and I couldn't figure it out from reading the code briefly
- others with pros/cons at http://sweetohm.net/html/go-yaml-parsers.en.html

@ddollar would y

[2015-04-21 18:36] joeyespo commented on #32
@ryansouza It looks like the libraries [are compatible](http://stackoverflow.com/questions/1174240/apache-and-lgpl-license-compatibility) since LGPLv3 and Apache 2.0 are compatible. Just as long as proprietary software that uses forego doesn't modify the yaml library's code.

[2015-04-30 11:34] lxfontes commented on #32
have a few spare cycles this week. I can jump on it if nobody is preparing a pr

[2015-04-30 17:14] joeyespo commented on #32
I haven't gotten to this yet. Go for it :+1:

[2015-05-10 20:28] vlcinsky commented on #54
In fact, existing doc of this excellent tool is a bit too short. It took me a while to find out that I shall consult Foreman documentation (simple link would help as there is another project called Foreman, even thought that one did not learn about beauty of simplicity as much as this one).

The other problem is, that not all the features from foreman are implemented in forego (or at least it did

[2015-05-19 19:32] aripollak commented on #51
I think I'm running into this. Would you mind releasing a new version of the package?

[2015-05-28 09:55] mamachanko opened #57 "start subset of processes"
`forego` doesn't allow to start a subset of processes, like `foreman` does.

Given this `Procfile`:
[code]

One can run two web processes and one worker with `foreman` like so:
[code]
There's no need to specify `db=0`.

However, `forego` will always run the entire set of processes:
[code]

It's possible to limit to one process name with `forego start -c web=2,worker=1 web`, but I'd like to run a s

[2015-05-28 09:56] mamachanko commented on #57
Well, I understand that I could do it by explicitely skipping certain processes(e.g. `db=0`), but I'd have to list all of them and that is painful for >3 services.

[2015-05-29 23:55] dekz opened #58 "i386/Way to see all compiled releases"
Is there a way to see all compiled releases?
#47 links to gobuild.io but that seems to be a dead link now.

The releases in the README link to an amd64 build, is it possible to get an i386 release?

[2015-07-02 05:41] browny opened #61 "Links of precompiled binaries break"
The link of precompiled binaries seems breaking

[2015-07-02 05:50] #61 closed

[2015-07-08 22:06] dickeyxxx opened #62 "python output not displaying"
I think there is maybe a stdout flushing issue when using forego on windows. It doesn't display output from this django app: https://github.com/heroku/python-getting-started

[code]

It still functions, but it doesn't display any output. After I press ctrl-c, it does show one line of output.

[2015-07-08 22:07] dickeyxxx commented on #62
cc @kennethreitz

[2015-07-14 17:46] DefunctExodus opened #63 "Binaries"
Looks like the Binaries are currently unavailable.

[2015-07-14 19:19] DefunctExodus commented on #63
working again

[2015-07-14 19:19] #63 closed

[2015-08-11 12:06] kron4eg commented on #62
@dickeyxxx is it showing output under regular foreman?

[2015-08-11 19:17] dickeyxxx commented on #62
yes it does

[2015-08-13 22:47] jmervine commented on #49
Mind including the output for the following commands:

1. `echo $PWD`
2. `pwd`
3. `echo "forego start -f ProcFile.test -e ${PWD}/testenv"` << redundant, but still

Also try: `forego start -f ProcFile.test -e /home/vagrant/testenv` (per your comments above).

[2015-08-16 14:59] jamesbeith commented on #62
I'm getting this same issue on OS X.

[2015-08-20 21:37] bgentry commented on #62
@ddollar I feel like this is probably identical to an issue you fixed w/ Convox a while ago that's caused by python never outputting newlines

[2015-08-20 21:48] ddollar commented on #62
Seems very likely I just don't have the bandwidth to fix it right now :)

[2015-08-20 21:49] dickeyxxx commented on #62
mind elaborating more on what the issue was? I could take a pass at fixing it. btw expect more bug reports and forego usage, we switched to forego in all the Heroku documentation (via the `heroku local` command)

[2015-08-20 21:54] ddollar commented on #62
In outlet.go it waits for a new line to display anything. Happy to give you a commit but if you like.

[2015-08-21 20:11] kennethreitz commented on #62
It's not that python doesn't "output" newlines, it's that Python doesn't flush stdout when it prints a newline. Most languages do.

[2015-08-21 21:42] brandonb927 commented on #62
We stopped using forego after about an hour because of this issue :( Anything we can add to our django stack to allow us to use forego?

[2015-08-21 21:43] dickeyxxx commented on #62
I'm trying to figure out how to get the subprocess to flush in order to fix this, but you might be able to fix this in your procfile by adding `2>&1` to the end of the command

[2015-08-21 22:06] ddollar commented on #62
Set PYTHONUNBUFFERED to a non-empty string

https://docs.python.org/2/using/cmdline.html#envvar-PYTHONUNBUFFERED

[2015-08-21 22:19] dickeyxxx commented on #62
`PYTHONUNBUFFERED` doesn't seem to work:
[code]

here's the fixture I'm using: https://github.com/ddollar/forego/compare/master...dickeyxxx:python-sync?expand=1

that branch also fixes the problem, but I'm not sure it's the best solution

[2015-08-21 23:01] kennethreitz commented on #62
`PYTHONUNBUFFERED` is for controlling python's pipe buffering, and while it can be useful on the consumption end of this problem (e.g. writing forego in python), it should have no effect on this.

The problem is that go is only printing lines when they are flushed, and python simply does not flush lines usually.

[2015-08-29 11:23] aristidesfl commented on #62
I'm also having problems getting proper stack traces from flask

[2015-09-01 11:40] oba11 opened #65 "Forego binary support for alpinelinux"
Linux precompiled binary doesnt work with alpinelinux.
Could come useful for people who are very keen on docker image size.
forego is much lightweight compared to supervisor which also requires other dependencies.
Its been compiled for personal use by using the below command

[code]

Here is the [link](http://we.tl/RXpI82vZd8) to the working alpinelinux binary.
Thanks.

[2015-09-01 22:44] jimeh opened #66 "When using -c to run multiple processes, they all receive the same $PORT env value"
I just came across this issue:

[code]

While with foreman it works correctly:

[code]

Based on the code, I believe #55 solves this issue, but the PR description doesn't seem make any mention of it, and my Go skills are pretty basic still.

[2015-09-12 00:36] ianstormtaylor opened #67 "error output not complete"
Running into an issue where `forego` doesn't seem to be giving all of the error output that regular `foreman` used to (and still does). In a node setup with a `server.js` that just errors out...

[code]

With `foreman`, I get a full stack trace:

[code]

But with `forego` I only get the offending line, which makes it super hard to debug issues:

[code]
[code]

Am I doing something wrong? Would lov

[2015-09-12 02:45] dickeyxxx commented on #67
it might be this issue https://github.com/ddollar/forego/issues/62

does it work if you append `2>&1` to the end of the command in the profile?

[2015-09-12 06:28] ianstormtaylor commented on #67
Hmm, nope, appending `2>&1` doesn't seem to do anything. (Except losing coloration of text.)

[2015-09-15 21:36] dickeyxxx commented on #67
this was fixed in this pr actually https://github.com/ddollar/forego/pull/52
@ddollar can you push a new release?

[2015-09-16 16:48] lorenz commented on #65
+1, would appreciate a musl build with static linking as glibc has its quirks with static linking and makes the binary really large

[2015-09-17 15:57] aheckmann opened #68 "non-colorized logs option"
Are you open to having a non-colorized logs option?

[2015-09-17 19:05] bostwick commented on #67
I'm running into this as well. I'm running both `heroku local` and forego installed via homebrew on OS X.

[code]

[code]

[2015-09-17 19:12] dickeyxxx commented on #67
as I said, this is fixed, we just need to push a release

[2015-09-18 08:52] DeviaVir commented on #68
#69

[2015-09-22 13:40] bjrbhre commented on #57
:+1: for the issue / regression vs. foreman.

@mamachanko to avoid listing all processes, you can simply type `all=0` (see [here](https://github.com/ddollar/forego/blob/master/start.go#L239-L241) in the source).

For example, if your Procfile looks like this:
[code]

You can start only web + worker by typing:
[code]

This is not as nice as it currently is in foreman but in the meantime, it does th

[2015-10-01 00:16] AnilRedshift commented on #67
+1 for pushing a new release. Thanks!

[2015-10-08 12:25] lorenz commented on #65
Fully static stripped build (5.9MiB) now working :)

[code]
This pulls `golang:1.5.1`, installs the appropriate musl tools, pulls forego and builds a stripped static binary and outputs it to the working directory. It could obviously be altered to take the input from a volume instead of downloading it.
The resulting binary works on every Linux with the same CPU architecture.

[2015-10-17 07:53] bsideup commented on #32
@ddollar @voanhduy1512 any news on this?

[2015-10-17 19:50] voanhduy1512 commented on #32
You could try my branch, i think it works :D

[2015-10-21 09:39] stefanfoulis opened #70 "option to skip port magic"
In some cases I already have a ``$PORT`` env var set from a other system and I'd like to be able to run ``forego`` in a mode where it does not do anything special with the ``PORT`` variable.

[2015-10-23 14:33] lorenz commented on #65
@ddollar Can we get this new build process integrated for the new binary releases? There are no downsides to these binaries, they are even smaller than the ones you are currently distributing and they work absolutely everywhere where you have Linux x64, even on a bare kernel or in otherwise empty Docker images. I don't know how you build your binaries but you could just drop my code above into a b

[2015-10-31 19:10] paulmelnikow commented on #49
I can reproduce this on Mac OS X Yosemite 10.10.5.

Works (i.e. spits out the ADMIN keys I expect):

[code]

Doesn't work:
[code]

[code]

[2015-10-31 19:23] paulmelnikow commented on #49
Ah, this works for me in 4eaf54121ea534d09e704a1227da35198e1ce283, can you push a release?

[2015-11-04 11:58] oba11 commented on #68
same here

[2015-11-09 18:56] chenliu0831 opened #71 "forego inside forego"
I could be wrong but in `foreman`, if I start a procfile which contains another `foreman start`, it seems to be managed by the master foreman process (i.e. `sigterm`s can be propagated).  It looks like this is not true under `forego` anymore (it spawns separate process).

Not sure if this is a design choice or there's some other flags to support it.

[2015-11-11 18:47] granteagon opened #73 "undefined: bufio.NewScanner"
Installing this on ubuntu precise 32:
[code]

[2015-11-18 07:11] md5 commented on #65
@lorenz Using `exec 1>/dev/null` or `exec 1>&2` at the top of your command might be nice.

[2015-11-18 08:07] hmalphettes commented on #65
@md5 at the moment the console output of the script is only the error stream.
I think it comes in handy if things go wrong.

This is what it generates on my machine:
[code]

[2015-11-18 14:12] md5 commented on #65
I just realized that would mess with the final "cat" too.
On Nov 18, 2015 00:07, "Hugues Malphettes" <notifications@github.com> wrote:

[2015-11-27 05:01] danielcompton opened #74 "Push out a new release"
When you have time (no rush), would you be able to push out a new release? There's some helpful fixes in master that haven't been released yet.

[2015-12-02 16:01] a-shark commented on #74
I came here to make just such a request. `heroku local` uses this project, and it's silently ignoring env vars set after either a blank line or a commented out line, because it's using the latest release of `forego`, not building from `master`, where that bug is fixed. That's also what `homebrew` installs for `brew install forego`, for that matter. New release when you get a chance/when it makes s

[2015-12-11 22:47] schreifels commented on #67
@dickeyxxx @ddollar Would love to see a release that contains this fix, thanks!

[2015-12-12 03:22] aristidesfl commented on #62
My procfile:
[code]

With `forego start dev`, I don't get proper stack traces.
With `forego run python main.py` I get full stack trace.

Ruby foreman works fine in both cases.
Aren't both commands supposed to have exactly the same result?

[2015-12-14 20:13] raimo commented on #67
+1 on getting this out.

[2015-12-29 02:16] alexw23 commented on #71
:+1:

[2015-12-30 07:27] jacebrowning commented on #71
:+1:

I would also find this behavior useful. I had to switch back to `honcho` for this reason.

[2015-12-30 11:34] alexw23 commented on #71
I had to switch back to foreman

[2016-01-08 15:34] redbugz commented on #74
Another +1. The current 0.16.1 release is useless to me because of the bugs that are already fixed but not yet released.

[2016-01-21 20:02] lxfontes commented on #66
that's correct, that PR will fix this.
Not sure if @ddollar is maintaining forego anymore though.

[2016-01-28 14:48] obitux commented on #68
+1

[2016-02-06 21:59] TylerBrock opened #75 "Add dynamic padding for process portion of output"
The ruby version of foreman pads the output so that the logs line up nicely:

[code]

When using forego the output is jaggy:

[code]

Are there any plans to add dynamic padding to the process portion of the log lines? I noticed this behavior in the JavaScript foreman clone as well.

[2016-02-26 11:44] thaJeztah commented on #65
Looks like there's work in progress on creating official alpine-based nginx images; https://github.com/nginxinc/docker-nginx/blob/master/mainline/alpine/Dockerfile, and ran into this; are there still plans to ship an alpine-compatible binary?

[2016-02-29 11:09] mikaa123 commented on #67
Hi there :)
Would love to have this out too!

[2016-03-05 18:34] HPF-MCompeau commented on #67
Would love to see this fix get out!

[2016-03-18 12:09] lfender6445 opened #77 "how to set root directory?"
in foreman there was option to specify root

[code]
i may have overlooked it, is there an option for this via forego?

[2016-03-22 18:33] petejkim commented on #70
:+1:

[2016-03-28 12:31] barsteadr opened #81 "Links to the precompiled binaries seem to be broken"
Clicking on any of the binary download links shown on the README (or attempting a `wget`) fails.

Example:

[Linux](https://godist.herokuapp.com/projects/ddollar/forego/releases/current/linux-amd64/forego)

leads to an error page that shows this:

[code]

Links have been broken since 3 PM CST on March 27th.

[2016-03-28 15:54] Ewarren7 commented on #81
Looks like this is also breaking [Heroku Local CLI plugin](https://devcenter.heroku.com/articles/heroku-local), which uses forego.

[2016-03-31 20:39] dickeyxxx commented on #81
@Ewarren7 heroku local no longer uses forego

[2016-03-31 21:22] dmp1ce commented on #81
I'm noticing this as well. I use Forego in some Dockerfiles.

[2016-04-04 07:39] browny commented on #81
same here, is there any other links to download it?

[2016-04-05 07:55] EHER commented on #81
same problem here.

[2016-04-06 00:22] RyanBalfanz commented on #81
same

[2016-04-09 04:54] dfguo commented on #81
seeing it broken too

[2016-04-12 04:22] aaronshaf commented on #74
@ddollar Perhaps you could add a collaborator and share npm repo permissions with another?

[2016-04-12 09:25] enr commented on #74
Hi @ddollar and all,
I was using Forego for personal projects and I've applied a lot of PRs in my fork.
Reading of the need for a new version, today I published the one I'm using:

https://github.com/enr/forego/releases/tag/v0.17.1

Please note I haven't tested neither Darwin nor Windows build.
Hope it helps,
Enrico

[2016-04-13 16:11] aaronshaf commented on #67
@ddollar Can you please push a release?

[2016-04-13 21:37] ddollar commented on #67
Finally fixed up the release process using Equinox. Check the README for download links.

[2016-04-13 21:37] #67 closed

[2016-04-23 21:02] ddollar commented on #81
Using Equnox now, should be fixed.

[2016-04-23 21:02] #81 closed

[2016-04-23 21:03] ddollar commented on #77
This doesn't yet exist but please feel free to submit a PR!

[2016-04-23 21:03] #77 closed

[2016-04-23 21:03] ddollar commented on #74
Using Equnox now, should be fixed.

[2016-04-23 21:03] #74 closed

[2016-04-23 21:03] #49 closed

[2016-04-23 21:04] ddollar commented on #58
Check out the Equinox download page now

[2016-04-23 21:04] #58 closed

[2016-04-23 21:06] ddollar commented on #62
For now forego is going to assume that subprocesses flush their output regularly. If any Pythonistas want to take a swing at fixing this globally please feel free to submit a PR!

[2016-04-23 21:06] #62 closed

[2016-04-23 21:07] ddollar commented on #65
Someone figure out how to do this with Equinox and I'll add it! /cc @inconshreveable

[2016-04-23 21:08] ddollar commented on #66
Closed in favor of the PR

[2016-04-23 21:08] #66 closed

[2016-04-23 21:08] ddollar commented on #68
I'd be open to a PR that made the logs not be colorized for non-TTY stdout

[2016-04-23 21:08] #68 closed

[2016-04-23 21:09] ddollar commented on #70
Seems reasonable, I would accept a PR that adds this functionality.

[2016-04-23 21:09] #70 closed

[2016-04-23 21:09] ddollar commented on #71
Seems like an interesting case. If anyone is interested in submitting a PR to fix this I'd definitely take a look.

[2016-04-23 21:09] #71 closed

[2016-04-23 21:10] ddollar commented on #73
Not sure what you're seeing there but I can't reproduce this.

[2016-04-23 21:10] #73 closed

[2016-04-23 21:10] ddollar commented on #75
Yes I would accept a PR to do this.

[2016-04-23 21:10] #75 closed

[2016-04-23 21:13] inconshreveable commented on #65
Yeah, I have this same problem with ngrok at the moment. Your options (at the moment) are:

- `CGO_ENABLED=0` for all builds. This breaks `os/user.Current` and disables native certificate store lookups on darwin and forces use of the pure-Go resolver on non-windows platforms.
- Create a separate channel 'stable-static' in equinox and release to both channels. Equinox forces unique version strings,

[2016-04-23 23:31] #34 closed

[2016-04-23 23:32] #32 closed

[2016-04-25 14:06] granteagon commented on #73
Yeah.  Weird.  Just went back to foreman on this install.

[2016-04-30 18:59] #65 closed

[2016-04-30 19:02] ddollar commented on #57
Going to close this issue for now since it's working as intended but I would accept this as a pull request if anyone is feeling up to it!

[2016-04-30 19:02] #57 closed

[2016-05-05 09:16] danielcompton commented on #74
Are you able to tag the new release? I think that'll help it get onto Homebrew?

[2016-06-09 09:38] nvartolomei opened #85 "Should env defined variables override .env?"
This is what I expected actually.

[2016-06-18 22:41] ddollar commented on #85
I think this could easily lead to unexpected scenarios. Could you provide an example of this please?

[2016-07-14 13:47] adrianmoya opened #86 "Env not loaded when starting a single process"
I'm starting with forego, and I'm trying this:

Procfile

[code]

testenv

[code]

I would expect that if I run a single process in the Procfile, I could load the environment, but it's ignored:

[code]

[2016-07-24 13:11] #85 closed

[2016-07-29 16:29] zph opened #87 "Proc names with dashes not working in 0.16.1 but works in master"
First off, thanks for having a golang tool vs requiring ruby toolchain 👍 .

I found this bug while trying out the following project https://github.com/shakacode/react-webpack-rails-tutorial/, specifically the Procfiles there.

Sample Procfile.dev from tutorial:

[code]

That procfile works under foreman but not under forego 0.16.1.

If I change the `rails: ` line slightly (use `sh -c` around comma

[2016-07-29 16:37] zph commented on #87
Ah, in v0.16.1, this was the regex:

https://github.com/ddollar/forego/blob/db3ef40c253be503beeee0703b71fb331eb2e794/procfile.go#L13

vs now... when there's a `-`

https://github.com/ddollar/forego/blob/9bebfece50af7d2c2d6e7bfc727fe27f7b3f0a12/procfile.go#L12

Which was changed in this commit:

`62551d4c (Satoshi Ebisawa 2016-04-14 05:07:35 +0900)`

Guess my issue is a request for cutting a new re

[2016-08-17 05:12] Jtango18 opened #88 "--version"

[2016-08-17 05:13] #88 closed

[2016-08-28 18:42] ddollar commented on #87
New release has been cut, thanks for the report :)

[2016-08-28 18:42] #87 closed

[2016-09-28 22:11] carlmjohnson opened #89 "Add forego export like foreman export"

[2016-09-29 11:02] ddollar commented on #89
Thank you for the issue but I am intentionally trying to keep the scope of forego smaller.

[2016-09-29 11:02] #89 closed

[2016-09-29 13:12] carlmjohnson commented on #89
👌

[2016-10-07 15:55] annismckenzie opened #91 "Using exec breaks Procfiles with multiple commands per process"
Commit 5d3c4e433ee65508b0fd42bd6bd3ee8a900820b5 breaks Procfiles with multiple commands per process. I'm not against changing my Procfile if there is a fix.

[2016-10-07 15:55] annismckenzie commented on #91
There's two comments on the commit – GitHub seems to not be able to crosslink this automatically.

[2016-10-07 21:55] binfalse opened #92 "Get rid of colors in output"
As far as I understand, the outlet always adds color to the output (see https://github.com/ddollar/forego/blob/7a6954ecc44d679b35cab1b6bf08da374c12a67f/outlet.go#L76). That's quite annoying if you want to log the lines to a file, as the file then contains the color codes and becomes hard to read, eg

[code]

Is it possible to get rid of the colors? If not, could you please provide a flag or someth

[2016-10-08 11:28] binfalse commented on #92
I just implemented a proposal at https://github.com/binfalse/forego/tree/strip-output-colors

The latest commit adds a flag `--nocolor` that disables colour in forego messages: https://github.com/binfalse/forego/commit/1b8d01f4319e08385d28286dffaf5f7a15a11882
What do you guys think?

[2016-10-09 14:34] ddollar commented on #92
Perhaps we could detect whether stdout is a tty and only color in that case? I wonder if we can use termcap somehow...

[2016-10-09 14:35] ddollar commented on #91
If you need to use multiple commands per process, wrap them with sh:

[code]

[2016-10-09 14:35] #91 closed

[2016-10-09 16:39] annismckenzie commented on #91
Thank you!

[2016-11-21 17:26] jcmfernandes opened #93 "Not changing the application root directory"
Taken from `foreman`'s man page:
[code]

`forego` doesn't change the application root directory like `foreman` does. Example:
[code]

[2016-11-21 23:49] hkparker opened #94 "Immediate exit when using reflex OSX"
forego is incompatible with github.com/cespare/reflex on OSX.  Its pretty bizarre.

Trivial example works fine:

[code]

Multiple netcat services are fine as well.  But add a trivial reflex example:

[code]

And everything is terminated immediately.  If I run reflex by itself however all is well:

[code]

And this only happens on OSX, linux is alright.

[2016-11-23 10:08] jcmfernandes commented on #86
This bug doesn't have to do with running a single process, but with the order of the command line arguments.

If you do `forego start -e testenv test` (notice that I placed `test` **after** `-e testenv`) things will work as expected.

In sum, the bug is that the order of the parameters is affecting behavior.

[2016-11-26 01:24] #93 closed

[2016-11-29 16:48] tomwhoiscontrary commented on #87
Is this release available anywhere?

[2016-12-01 04:06] chenyingyin commented on #94
![default](https://cloud.githubusercontent.com/assets/24284270/20781549/9c7adc26-b7be-11e6-8b2e-db7b976e3f49.png)

[2016-12-16 20:40] catmeme commented on #92
Related issue when trying to use graylog: https://github.com/jwilder/nginx-proxy/issues/503

Would appreciate a plugable standard logging format such as syslog or GELF

[2016-12-19 09:06] kimown opened #96 "forego exit In osx"
Hi, when I use forego running some webpack process, but after sometime, the forego exit, and throw error, here is the log

[code]

[2016-12-19 12:46] kimown opened #97 "child process doesn't exit in osx"
The problem only occurs in osx, when I use CTRL+C to terminate the process, the child process still exist, so the port 8080 and 8083 still in use.

![forego](https://cloud.githubusercontent.com/assets/7932380/21313249/a82139fa-c62b-11e6-8d95-8817e15f7809.gif)

Here is my code:
[forego.zip](https://github.com/ddollar/forego/files/661037/forego.zip)

[2017-01-11 14:17] tomwhoiscontrary opened #98 "Restart crashed processes"
When one of the processes started by forego exits, forego exits, and kills all the other processes it started. I believe classic original foreman has the same behaviour.

Sometimes this is useful behaviour, but sometimes it would be more useful if it restarted the process which exited and carried on. Would it be possible for forego to take a flag to make it calmly restart rather fly off the handle

[2017-01-11 14:23] ddollar commented on #98
I'd consider this but there are lots of things to consider. What happens if the app crashes on start? Do we retry only a certain number of times? In a certain time period? If the crashing is non-recoverable but temporary (lose network connection) does we eventually stop thrashing? Do we need some sort of exponential backoff?

My original intention with not including this behavior was both because

[2017-01-11 14:26] tomwhoiscontrary commented on #98
Hang on, does `forego -r` already do this?

I only discovered that by reading the code, so i'm not sure what it does. If it does what i want, can i change this issue to be a request/offer for improved documentation?

[2017-01-11 14:30] tomwhoiscontrary commented on #98
With regards to edge cases, those are all good questions, but i don't think a lack of answers to them is a good reason not to implement something. Indeed, having terrible handling of edge cases is probably a good thing if you want to discourage production use.

My use case is that i have a microservicey application written in Java with Spring, comprising 19 separate processes so far. If i want to

[2017-01-11 15:02] tomwhoiscontrary commented on #98
Okay, so -r does do what i want, but it was broken until 9372bb8. There isn't a release with 9372bb8 in; the latest is v0.16.1, which was db3ef40, a couple of months before.

What do you say i PR in an expanded long description for the start command, then you cut a new release?

[2017-01-11 15:28] ddollar commented on #98
Sounds good

[2017-02-05 06:59] yangxuan8282 commented on #58
Equinox download page don't have linux arm forego

[2017-02-18 04:20] ecbrodie opened #101 "Latest forego version immediately crashes for rails / node app"
I have been using the version of Forego from Homebrew (released in April 2016) for months on my rails server, node client application without significant issue. The Procfile that I run using `forego start` contains the following:

[code]

I noticed that there is a later version of Forego released on Equinox and the Homebrew version of it is no longer being updated, as noted in https://github.com/d

[2017-02-28 16:06] BaxterStockman commented on #85
Although this issue is closed, it's perhaps worth mentioning that what the OP expects is [dotenv's default behavior](https://github.com/bkeepers/dotenv#why-is-it-not-overriding-existing-env-variables), justified on the assumption that

Maybe this behavior could be optional -- say, via a flag like `--preserve-env`?  I would be happy to submit a PR adding this feature.

[2017-03-11 17:59] afefelov commented on #92
Hi guys, I'm using graylog and rsyslog to pass logs into it.
I spent up to 4 hours to find out proper solution and finally came with following:

You should add rsyslog conf file like that /etc/rsyslog.d/30-docker.conf:

[code]

while /usr/bin/strip_ansi_colors.py looks like:

[code]

how logs look before:

[code]

and now
[code]

[2017-03-27 19:54] #98 closed

[2017-03-28 12:41] ddollar commented on #54
A user contributed some more docs but given this project's status (a toy project I used to learn go and haven't touched much since) I don't think it will receive much more maintenance.

I'd happy review any PRs if you feel up to it, though!

[2017-03-28 12:41] #54 closed

[2017-03-28 12:42] ddollar commented on #86
This one isn't easy to change (pretty sure it would involve ripping out the CLI framework) so closing this issue for now. Would happily accept a PR fixing this, though!

[2017-03-28 12:42] #86 closed

[2017-03-28 12:43] ddollar commented on #92
I'm not actively maintaining this project so I'm going to close this issue. I would happily accept a PR that strips the colors for non-tty stdout, though.

[2017-03-28 12:43] #92 closed

[2017-03-28 12:44] ddollar commented on #94
Not sure what's happening here but since I'm not actively maintaining this project I'm going to close this issue. Please feel free to open a PR if you track it down.

[2017-03-28 12:44] #94 closed

[2017-03-28 12:46] ddollar commented on #101
I'm not really maintaining anything for forego any more. Equinox made for less work and AFAIK they offer a homebrew tap built in.

Thank you for submitting this issue but I am going to go ahead and close it as I haven't been able to reproduce. If you hunt it down would gladly accept a PR to fix!

[2017-03-28 12:46] #101 closed

[2017-03-28 12:47] ddollar commented on #97
Not sure what's happening here but I'm not actively maintaining forego so I'm going to close this issue. If you track it down I would happily accept a PR!

[2017-03-28 12:47] #97 closed

[2017-03-28 12:47] ddollar commented on #96
Not sure what's happening here but I'm not actively maintaining forego so I'm going to close this issue. If you track it down I would happily accept a PR!

[2017-03-28 12:47] #96 closed

[2017-03-28 13:52] ecbrodie commented on #101
Hi @ddollar , thank you for your reply. I am saddened to hear about Forego's status, but I understand. I will submit a PR if I get around to solving the issue.

Can you confirm, though, that Foreman is still being maintained? Thank you.

[2017-03-28 14:11] ddollar commented on #101
Yes, though Foreman is in a feature freeze.

[2017-03-28 18:59] hkparker commented on #94
Wait, what?  You are closing an issue because you aren't maintaining a project?  I would expect even if you don't plan on actively working on issues you would leave them up for others to see.  That's valuable because then one can check if others have experienced the same problem, and gives them a place to discuss fixes, even without your involvement.  It seems like you just don't want any open iss

[2017-05-25 10:57] fidalgo opened #103 "PORT env var dependent on the position in the Procfile"
Hi!

I've found a weird behaviour, that I was able to track after some hit and miss!

Having a trivial `Procfile`:
[code]

And having set some environment variables through docker-compose files, namely the `PORT`, I've noticed that forego (and foreman) sets a different port for each service.
Since only the `web` service has a port assigned, if I do not set it the first line of the `Procfile` it wi

[2017-06-22 06:27] russell-haven opened #104 "forego only extend the first shell variable on the right side of the equal sign in .env file"
When having more than one shell variable on the right side of the equal sign in .env file, forego only extend the first one.

**Steps To Reproduce**

1. Have a .env with the following line: `NODE=${HOSTNAME}-${PORT}` (the inner vars are defined)
2. Run your application using forego.

**Results**

The variable is only half extended: `the.hostname-${PORT}`

**Notes**

The variable should be fully ex

[2017-10-02 08:18] schmunk42 opened #106 "Forego adds sleeping bash process for every application (read from .profile)"
While examining processes and thread on our Docker-hosts, I found:

[code]

Should be coming from https://github.com/ddollar/forego/blob/c6e54eeee78456219f9aa6dcf9d5ed65d671b37e/unix.go#L13-L22, I think.

Couldn't this be optimized, so we don't have those sleeping processes?

There are also the processes themselves:

[code]

[2017-12-06 16:16] liamdawson commented on #103
Just checking @fidalgo -- you may have already discovered this, but `$PORT` has special behaviour under Foreman: https://ddollar.github.io/foreman/#PROCFILE

[2017-12-06 18:47] fidalgo commented on #103
thanks @liamdawson for the heads up! I've ended up to figure out, will close as it's not an issue.

[2017-12-06 18:47] #103 closed

[2018-01-02 11:10] guiyomh opened #107 "How to pause or stop a process ?"
I run rabbitMQ consumer with forego, but to debug the producer, i need to stop temporary the consumer. How i can do it ?

[code]

[2018-01-31 14:30] flori commented on #106
forego execs the command now, so this issue can be closed, I think.

[2018-04-11 11:53] Sjoerrdd opened #111 "Windows Ubuntu"
Hello,
How can I install Forego for the ubuntu bash in windows?

[2018-05-02 18:15] grosser opened #114 "does not pass on signal to children"
[code]

[code]

[2018-05-31 11:13] #111 closed

[2018-06-12 19:40] DeltaWhy opened #115 "CTRL-C hangs on Windows with "Terminate batch job (Y/N)?" prompt"
My Procfile contains a line `webpack: cd gui && npm run watch`, which fails to exit cleanly on interrupt (CTRL-C). Instead I get a prompt `Terminate batch job (Y/N)?` which I can't answer.

When executing `npm run watch` from a cmd promt, I can suppress this prompt by redirecting input from `NUL` (Windows equivalent of `/dev/null`), however doing the same in my Procfile doesn't solve the issue - t

[2018-08-25 02:57] Turmer opened #116 "Forego i386 binary?"
Looking for source of Forego i386 binary to ADD to a Docker image, could you please point at one?

[2018-09-07 10:40] dcorking commented on #91
The need for this workaround seems to suggest that some `foreman` Procfiles are now incompatible with forego (in my case it seems to also affect a Procfile that used to work in forego)

For example this works in foreman but fails in forego:

    worker2: FOO=bar printenv FOO

[code]

Is compatibility with `foreman` an objective of the project? If not I'll update my Procfiles and go on my way.

[2018-11-01 18:46] nagimov commented on #116
https://dl.equinox.io/ddollar/forego/stable/archive

[2018-11-07 02:42] Turmer commented on #116
Got it, thanks!

[2019-01-17 03:01] JonathonReinhart commented on #106
Additionally, there appears to be an issue with sending signals to the child process. (Related to #114?)

When I have the following `Procfile`
[code]

I see the following
[code]

If I send `SIGINT` to `forego` (by issuing Ctrl+C):
[code]

I see the `/bin/bash` processes exit (and `cron`), but not `apache2`:
[code]

[2019-03-11 03:21] hkdnet opened #119 "Could you create a new version tag which is compatible with go modules?"
Recently, forego has date-format tags but these tags are incompatible with go module tags.

ref: https://github.com/golang/go/wiki/Modules#modules

I cannot get the latest version with `GO111MODULE=on` because recent tags, incompatible with go modules, are ignored.

[code]

Could you create a new version tag? I hope I can get the latest version with `GO111MODULE=on`.

[2019-04-08 18:47] dradtke commented on #94
I've been running into this as well. Strangely, this fails:

[code]

but this seems to work:

[code]

Just _why_ this works is beyond me, but it could be a workaround.

[2019-08-30 18:48] alaxalves opened #121 "Official Forego Docker image"

[2019-12-10 21:40] ysmazda opened #123 ""forego start" exits immediately with doing nothing on macOS"
"forego start" exits immediately with doing nothing written in Procfile on macOS.

## How to reproduce
[code]

### Expected behavior
Hello is output.
a.txt is created.

[code]

### Actual behavior
Hello is not output.
a.txt is not created.

[code]

## Platform info
[code]

[2019-12-10 21:51] ysmazda commented on #123
This behavior was introduced by https://github.com/ddollar/forego/commit/51d9f6dc5ffb962e7efe4b461eca53d87587012c, and I got the expected behavior by using the source of https://github.com/ddollar/forego/commit/4bb213294ff63ed4fc2f095d57e425d9ca18a42b.

The cause of the behavior change seems to be the difference of source command between bash and sh where bash executes command after semicolon when

[2021-09-14 14:19] bjozet opened #126 "equinox.io shutting down, publish builds elsewhere?"
Noticed that equinox.io is shutting down and removing all apps and accounts by 30th sept 2021. (https://equinox.io/blog/shutting-down)

Thought i'd report it, in case you didn't know.
Thanks for your efforts in this project! :)

[2021-11-22 09:19] niko commented on #126
Any news here?

[2021-11-22 12:06] #126 closed

[2021-11-22 12:07] bjozet commented on #126
resorting to building it myself :)

[2021-11-22 15:53] viranch commented on #126
Consider uploading to GitHub releases?

[2021-12-27 23:24] jpillora opened #127 "Download page missing"
https://dl.equinox.io/ddollar/forego/stable returns 404

[2022-04-07 15:50] evandam opened #130 "Prevent environment variables from being overriden?"
I was wondering if there's a way to prevent a .env file from overwriting an existing env var. Consider the following example:

[code]

Ideally, if FOO is already set, I don't think a .env file should overwrite it, like if the environment variable gets set at runtime in a docker-compose.yml, k8s, or whatever orchestrator may be setting them.

Similarly this would be helpful when passing multiple .e

[2022-08-16 08:58] padde commented on #123
Same issue on alpine linux, solved for now by installing the last tagged version

[code]

[2022-09-02 08:54] andrii-lundiak commented on #127
@ddollar Are you still maintainer of this repo? One of my work-related projects rely on this package, and I'm curious if there is maybe another download place? I can download source from GitHub and compile from source, but having executable file is sure thing much better.

[2022-09-02 10:07] jpillora commented on #127
For those interested
https://github.com/jpillora/forego/releases I precompiled and released forego here in my fork